html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: rgb(2, 1, 53);
}

.wrapper {
  background-color: rgb(2, 1, 53);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.game-field {
  border: 2px solid #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}

.game-field-header {
  width: 100%;
  height: 40px;
  background-color: #bbb;
  border: 2px solid #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-field-body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
}

.opened {
  background-color: #ddd;
  border: 1px solid #aaa;
  -webkit-box-shadow: inset 0 0 2px 0px #f3f3f3;
          box-shadow: inset 0 0 2px 0px #f3f3f3;
}

.closed {
  background-color: #ccc;
  border: 1px solid #666;
  -webkit-box-shadow: inset 0px 0px 7px 2px #666;
          box-shadow: inset 0px 0px 7px 2px #666;
}

[data-mined=true] {
  background-image: url(../img/bomb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

[data-checked=true] {
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.wrong {
  background-image: url(../img/wrong.png), url(../img/flag.png);
}

.game-status button {
  cursor: pointer;
}

.finish-victory, .finish-fail {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  font-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.finish-victory {
  background-image: url(../img/victory.gif);
  background-size: auto 75%;
}

.finish-fail {
  background-image: url(../img/fail.gif);
  background-size: auto 70%;
  background-position: center 75%;
}

.records {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 0;
  cursor: pointer;
}
.records img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.timer {
  min-width: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #777;
  text-align: center;
  border-radius: 5px;
  padding: 0 5px;
}

.records-table {
  position: absolute;
  top: calc(50% - 165px);
  left: calc(50% - 100px);
  width: 200px;
  height: 330px;
  background-color: #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #666;
  border-radius: 10px;
  display: none;
  text-align: center;
}
.records-table table {
  width: 100%;
}
.records-table table thead {
  font-weight: 700;
}
.records-table table tr {
  width: 100%;
}
.records-table table tr td {
  width: 33.3333333333%;
  text-align: center;
}

.close-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}
.close-table span {
  cursor: pointer;
}
.close-table img {
  width: 15px;
  height: 15px;
  padding-left: 5px;
}

.user-name {
  position: absolute;
  width: 200px;
  height: 100px;
  font-weight: 700;
  z-index: 5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #666;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.user-name div {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user-name input {
  width: 70%;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bbb;
  border: 2px solid #666;
  padding: 3px;
  color: #666;
}
.copyright a {
  color: white;
  text-decoration: none;
}