html{
    user-select: none;
}
body{
    background-color: rgb(2, 1, 53);
}
.wrapper{
    background-color: rgb(2, 1, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}
.game-field{
    border: 2px solid #666;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}
.game-field-header{
    width: 100%;
    height: 40px;
    background-color: #bbb;
    border: 2px solid #666;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.game-field-body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
}
.opened{    
    background-color: #ddd;
    border: 1px solid #aaa;
    box-shadow: inset 0 0 2px 0px #f3f3f3;
}
.closed{
    background-color: #ccc;
    border: 1px solid #666;
    box-shadow: inset 0px 0px 7px 2px #666;
}
[data-mined="true"]{
    background-image: url(../img/bomb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
[data-checked="true"]{
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
.wrong{
    background-image: url(../img/wrong.png), url(../img/flag.png);
}
.game-status{
    button{
        cursor: pointer;
    }
}
.finish-victory, .finish-fail{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 30px;   
    background-repeat: no-repeat;
    background-position: center;
}
.finish-victory{
    background-image: url(../img/victory.gif);
    background-size: auto 75%;
}
.finish-fail{
    background-image: url(../img/fail.gif);
    background-size: auto 70%;
    background-position: center 75%;
}
.records{
    height: 100%;
    box-sizing: border-box;
    padding: 4px 0;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.timer{
    min-width: 30px;
    box-sizing: border-box;
    border: 1px solid #777;
    text-align: center;
    border-radius: 5px;
    padding: 0 5px;
}
.records-table{
    position: absolute;
    top: calc(50% - 165px);
    left: calc(50% - 100px);
    width: 200px;
    height: 330px;
    background-color: #ddd;
    box-sizing: border-box;
    border: 2px solid #666;
    border-radius: 10px;
    display: none;
    text-align: center;
    table{
        width: 100%;
        thead{
            font-weight: 700;
        }
        tr{
            width: 100%;
            td{
                width: calc(100% / 3);
                text-align: center;
            }
        }
    }
}
.close-table{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    span{
        cursor: pointer;
    }
    img{
        width: 15px;
        height: 15px;
        padding-left: 5px;
    }
}
.user-name{
    position: absolute;
    width: 200px;
    height: 100px;
    font-weight: 700;
    z-index: 5;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #666;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    div{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    input{
        width: 70%;
    }
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
    border: 2px solid #666;
    padding: 3px;
    color: #666;
    a{
        color: white;
        text-decoration: none;
    }
}